.assignment-container {
    padding: 30px;
    background: #f8f9fc;
    width: 100%;
}

.assignment-container h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #1a1a1a;
}

.assignment-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full {
    width: 100%;
}

label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: none;
}

.button-row {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.cancel-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn {
    background: #ff6600;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn:hover {
    background: #e25a00;
}

.starColor{
    color: #FE1519;
}
input::placeholder ,textarea::placeholder{
    color: #9AACC1;
}
input,textarea{
    color: black;
}
.leak a{
    text-align: center;
    font-family: poppins;
    font-weight: 700;
    font-size: 42px;
    color: #16266F ;
}
.leak i{
    color: #FE1519;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}
.closed-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------- Responsive ---------------- */

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}
