.assignment-container {
  padding: 30px;
  background: #f8f9fc;
  width: 100%;
}

.assignment-container h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #1a1a1a;
}

.assignment-form {
  padding: 0px 10px;
  border-radius: 10px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.full {
  width: 100%;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

input,
.form-select,
textarea {
  padding: 09px !important;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

.button-row {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  gap: 15px;
}

.cancel-btn {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn {
  background: #ff6600;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #e25a00;
}

.starColor {
  color: #fe1519;
}

input,
textarea {
  color: black;
}

.leak i {
  color: #fe1519;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}
.closed-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DatePicker */
.datepicker-wrapper {
  position: relative;
  width: 100%;
}

.datepicker-wrapper input {
  width: 100%;
}

.datepicker-icon {
  position: absolute;
  right: 12px;
  top: 13px;
}

.calendar-icon img {
  width: 20px;
  opacity: 0.7;
}

.vanilla-datepicker {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 9999;
  display: none;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.vanilla-datepicker table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

.vanilla-datepicker th {
  padding: 5px;
  font-weight: bold;
  color: #333;
}

.vanilla-datepicker td {
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
}

.vanilla-datepicker td:hover {
  background: #f0f0f0;
}

.vanilla-datepicker .selected {
  background: #ff6600;
  color: white;
}

/* Assignment Form */

.assignment-form select {
  background-color: white !important;
}

/* ---------------- Responsive ---------------- */

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
