:root {
  --input-placeholder: #9ba2c1;
  --main-color: #fe5e15;
  --border-color: #d6d6d6;
}

input::placeholder {
  color: var(--input-placeholder);
  font-size: 12px;
  font-weight: 400;
}
.simplebar-content {
  padding: 0px !important;
}
.nav-link[data-bs-toggle="collapse"][aria-expanded="true"] span {
  font-weight: 500 !important;
}
.startbar .startbar-menu .navbar-nav .nav-item .nav .nav-item .nav-link {
  font-weight: 400 !important;
}
.calendar-icon img {
  /* margin-bottom:21px !important; */
  margin-top: -10px;
}
input {
  border-radius: 3px !important;
}
select {
  color: var(--input-placeholder) !important;
  background-color: white;
  border-color: var(--border-color) !important;
  font-size: 12px;
  font-weight: 400;
}
select option {
  color: var(--input-placeholder);
  font-size: 12px;
  font-weight: 400;
}
ul li {
  list-style: none;
}
button {
  border-radius: 3px !important;
}
.form-select {
  font-size: 12px !important;
  font-weight: 400 !important;
  border-radius: 3px !important;
}
.leak a {
  text-align: center;
  font-family: poppins;
  font-weight: 700;
  font-size: 2.2rem;
  color: #16266f;
}
.color {
  color: var(--main-color);
}
.logo h2 {
  font-family: poppins;
  font-weight: 700;
  font-size: 2rem;
  color: #16266f;
  margin-top: 08px;
}
.leak span i {
  margin-top: 6px;
}
.startbar
  .startbar-menu
  .navbar-nav
  .nav-item
  .nav-link[data-bs-toggle="collapse"]::after {
  margin-left: 0px !important;
}

table tr th {
  text-align: center !important;
}
